<div class="container w-md-50">
    <h1>Countries</h1>
    <input id="Search" class="input" type="text" onkeyup="myFunction()" placeholder="Search For Countries....">
</div>

<div id="{{ item.name  }}" *ngFor="let item of items" class="container w-md-50  my-md-2 border country-card">
    <div class="row ">
        <div class="col-2">
            <img id="flag"  class="mt-2" style=" width: 100%; max-width: 200px; height: auto" src="{{ item.flag }}" alt="">
        </div>
        <div class="col-10">
            <strong id="country-name">{{ item.name }} </strong>
            <div class="row m-2">
                Currency: <span id="currency"> &nbsp; {{ item.currencies[0].name }} &nbsp; ({{ item.currencies[0].symbol }})</span>
            </div>
            <div class="row m-2">
                Current Date & Time : <span id="date-and-time">{{ item.time }}</span>
            </div>
            <div class="row m-2">
                <a class="btn btn-outline-primary" href="https://www.google.com/maps/?q={{ item.name}}" target="_blank">Show Map</a>
            </div>
        </div>
    </div>
</div>
